body {
    background: #f0a500;
}

header, main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: #f4f4f4;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

main {
    background: #f4f4f4;
    width: 855px;
}
main p {
    float: left;
    width: 570px;
}


footer {
    overflow: auto;
    clear: both;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}