header, main, footer {
    min-width: 855px;
}

body {
    background: #f0a500;
}

header .container, main .container, footer .container{
    max-width: 855px;
    margin: auto;
}

header {
    background: #f4f4f4;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

main {
    background: #f4f4f4;
}

main img{
    float: right;

}